@import url("https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible:wght@100;200;300;400;500;600;700;800;900&family=Fira+Code:wght@100;200;300;400;500;600;700;800;900&family=Poppins:wght@100;200;300;400;500;600;700;800;900&family=Source+Code+Pro:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Atkinson Hyperlegible", sans-serif;
}

p,
strong,
a,
li,
input,
button,
textarea {
  font-family: "Poppins", sans-serif;
}

div[data-rehype-pretty-code-fragment]{
  /* border: 1px solid #222; */
  border-radius: 10px;
  box-shadow: 10px 24px 50px 17px rgba(0,0,0,0.1);
}

div[data-rehype-pretty-code-title][data-theme="light"]{
  display: none;
}

div[data-rehype-pretty-code-title]{
  background-color: #ffffff31;
  display: block;
  padding: 0.5rem 1rem;
  font-weight: bold;
  font-size: 1.2rem;
  border-radius: 10px 10px 0 0;
  border-bottom: 1px solid #ffffff31;
  margin-bottom: -1.5rem;
  cursor: pointer;
}
div[data-rehype-pretty-code-title]::after{
  content: '\f0c5';
  font-family: "Font Awesome 5 Free";
  float: right;
  margin-right: 1rem;
  font-size: 1.2rem;
  font-weight: bold;
  color: #fff;
  cursor: pointer;
  background: #222;
  padding-inline: 10px;
  border-radius: 5px;
  transition: all 0.2s ease-in-out;
}
div[data-rehype-pretty-code-title][data-open="true"]::after{
  content: '\f00c';
}

pre {
  font-family: "Source Code Pro", monospace;
  overflow: auto;
  border-radius: 0 0 10px 10px;
}



code {
  counter-reset: line;
  font-family: "Source Code Pro", monospace;
  overflow: auto;
}

code > *{
  font-family: "Source Code Pro", monospace;
}

code > [data-line]::before {
  counter-increment: line;
  content: counter(line);

  /* Other styling */
  display: inline-block;
  width: 1rem;
  margin-right: 2rem;
  text-align: right;
  color: gray;
}

code[data-line-numbers-max-digits="2"] > [data-line]::before {
  width: 2rem;
}

code[data-line-numbers-max-digits="3"] > [data-line]::before {
  width: 3rem;
}

@media (prefers-color-scheme: dark) {
  pre[data-theme="light"],
  code[data-theme="light"] {
    display: none;
  }
}

@media (prefers-color-scheme: light), (prefers-color-scheme: no-preference) {
  pre[data-theme="dark"],
  code[data-theme="dark"] {
    display: none;
  }
}

span[data-highlighted-line] {
  background-color: #ffffff31;
  display: block;
  margin-left: -1rem;
  margin-right: -1rem;
  padding-left: 1rem;
  padding-right: 1rem;
}

span[data-highlighted-chars] {
  background-color: #ffffff31;
}
span[data-chars-id="red"]{
  background-color: red;
  color: white !important;
}
span[data-chars-id="green"]{
  background-color: green;
  color: white !important;
}
span[data-chars-id="blue"]{
  background-color: blue;
  color: white !important;
}
span[data-chars-id="yellow"]{
  background-color: yellow;
  color: black !important;
}
span[data-chars-id="purple"]{
  background-color: purple;
  color: white !important;
}
span[data-chars-id="orange"]{
  background-color: orange;
  color: white !important;
}
span[data-chars-id="pink"]{
  background-color: pink;
  color: white !important;
}
span[data-chars-id="gray"]{
  background-color: gray;
  color: white !important;
}
span[data-chars-id="brown"]{
  background-color: brown;
  color: white !important;
}
span[data-chars-id="black"]{
  background-color: black;
  color: white !important;
}
span[data-chars-id="white"]{
  background-color: white;
  color: black !important;
}
span[data-chars-id="cyan"]{
  background-color: cyan;
  color: black !important;
}
span[data-chars-id="lime"]{
  background-color: lime;
  color: black !important;
}
span[data-chars-id="magenta"]{
  background-color: magenta;
  color: black !important;
}
span[data-chars-id="silver"]{
  background-color: silver;
  color: black !important;
}
span[data-chars-id="maroon"]{
  background-color: maroon;
  color: white !important;
}
span[data-chars-id="olive"]{
  background-color: olive;
  color: white !important;
}
span[data-chars-id="teal"]{
  background-color: teal;
  color: white !important;
}
span[data-chars-id="navy"]{
  background-color: navy;
  color: white !important;
}
span[data-chars-id="bold"]{
  font-weight: bold;
}
span[data-chars-id="italic"]{
  font-style: italic;
}
span[data-chars-id="underline"]{
  text-decoration: underline;
}
span[data-chars-id="strikethrough"]{
  text-decoration: line-through;
}
span[data-chars-id="reset"]{
  font-weight: normal;
  font-style: normal;
  text-decoration: none;
  color: white !important;
  background-color: black;
}
span[data-chars-id="reset"]::before{
  content: "reset";
}
