---

---

<section class="bg-white dark:bg-gray-900">
  <div class="px-4 mx-auto max-w-screen-md">
    <p
      class="mb-8 lg:mb-16 font-light text-center text-gray-500 dark:text-gray-400 sm:text-xl"
    >
      Got a technical issue? Want to give us feedback? Any questions? Any
      Suggestions? We'd love to hear from you. Send us a message and we'll
      respond as soon as possible.
    </p>
    <form class="space-y-8" id="contactForm" method="POST">
      <div>
        <label
          for="email"
          class="block mb-2 text-lg font-bold font-poppins text-gray-900 dark:text-gray-300"
          >Your email</label
        >
        <input
          type="email"
          id="email"
          name="email"
          class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-500 focus:border-primary-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500 dark:shadow-sm-light"
          placeholder="name@flowbite.com"
          required
        />
      </div>
      <div>
        <label
          for="name"
          class="block mb-2 text-lg font-bold font-poppins text-gray-900 dark:text-gray-300"
          >Name</label
        >
        <input
          type="text"
          id="name"
          name="name"
          class="block p-3 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 shadow-sm focus:ring-primary-500 focus:border-primary-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500 dark:shadow-sm-light"
          placeholder="John Doe"
          required
        />
      </div>
      <div class="sm:col-span-2">
        <label
          for="message"
          class="block mb-2 text-lg font-bold font-poppins text-gray-900 dark:text-gray-300"
          >Your message</label
        >
        <textarea
          id="message"
          rows="6"
          name="message"
          class="block p-2.5 w-full text-sm text-gray-900 bg-gray-50 rounded-lg shadow-sm border border-gray-300 focus:ring-primary-500 focus:border-primary-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500"
          placeholder="Leave a comment..."
          required></textarea>
      </div>
      <button
        type="submit"
        class="py-3 px-5 text-sm font-medium text-center text-gray-900 dark:text-white rounded-lg bg-primary-700 sm:w-fit hover:bg-primary-800 focus:ring-4 focus:outline-none focus:ring-primary-300 dark:bg-primary-600 dark:hover:bg-primary-700 dark:focus:ring-primary-800 cursor-pointer"
        >Send message</button
      >
    </form>
  </div>
</section>

<script type="module">
  // Import the functions you need from the SDKs you need
  // @ts-ignore
  import { initializeApp } from "https://www.gstatic.com/firebasejs/10.7.2/firebase-app.js";
  // @ts-ignore
  import { getAnalytics } from "https://www.gstatic.com/firebasejs/10.7.2/firebase-analytics.js";
  // @ts-ignore
  import { getFirestore, doc, setDoc} from "https://www.gstatic.com/firebasejs/10.7.2/firebase-firestore.js";
  // TODO: Add SDKs for Firebase products that you want to use
  // https://firebase.google.com/docs/web/setup#available-libraries

  // Your web app's Firebase configuration
  // For Firebase JS SDK v7.20.0 and later, measurementId is optional
  const firebaseConfig = {
    apiKey: "AIzaSyC9JRAi_fsezHf8PN-8A4tSoZYJmThEiAk",
    authDomain: "pythoncentralhub.firebaseapp.com",
    projectId: "pythoncentralhub",
    storageBucket: "pythoncentralhub.appspot.com",
    messagingSenderId: "479368830014",
    appId: "1:479368830014:web:87a5f98745df11c788056f",
    measurementId: "G-58ZCKY0YPD",
  };

  // Initialize Firebase
  const app = initializeApp(firebaseConfig);
  const analytics = getAnalytics(app);

  const db = getFirestore(app);

  function uuidv4() {
    return Date.now().toString(36) + Math.random().toString(36).substr(2);
  }

  // Reference messages collection
  // var messagesRef = firebase.database().ref("contact");

  // Listen for form submit
  // @ts-ignore
  document.getElementById("contactForm").addEventListener("submit", submitForm);

  // Submit form
  // @ts-ignore
  function submitForm(e) {
    e.preventDefault();

    // Get values
    var name = getInputVal("name");
    var email = getInputVal("email");
    var message = getInputVal("message");

    // Save message
    saveMessage(name, email, message);

    //show alert
    alert(
      "Thank you for your message! We will get back to you as soon as possible."
    );

    // @ts-ignore
    const form = document.getElementById("contactForm");
    // @ts-ignore
    form.reset();
  }

  // Function to get get form values
  // @ts-ignore
  function getInputVal(id) {
    const element = document.getElementById(id);
    // @ts-ignore
    return element.value;
  }

  // Save message to firebase
  // @ts-ignore
  function saveMessage(name, email, message) {
    setDoc(doc(db, "contact", uuidv4()), {
      name: name,
      email: email,
      message: message,
    });
  }
</script>
